html, body {
    height: 100%;
}

body {
    --background-color: #FAFAFA;
    --block-color: #BDBDBD;
    --text-color: #424242;
}

body.dark {
    --background-color: #212121;
    --block-color: #616161;
    --text-color: #EEEEEE;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);
}

.row {
    display: flex;
    flex-direction: row;
}

.block {
    background-color: var(--block-color);
    width: 100px;
    height: 100px;
    margin: 5px;

    font-size: 75px;
    user-select: none;
    text-transform: uppercase;
    color: var(--text-color);

    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}
