@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #212121;
        --block-color: #616161;
        --text-color: #EEEEEE;
        
        --bad: #BDBDBD;
        --good: #FFF176;
        --perfect: #66BB6A;
    }
}
