body.dark {
    --background-color: #212121;
    --block-color: #616161;
    --text-color: #EEEEEE;
}

.dark > .block.bad {
    color: #BDBDBD;
}

.dark > .block.good {
    color: #FFF176;
}

.dark > .block.perfect {
    color: #66BB6A;
}