html, body {
    margin: 0px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);
    transition: 
        background-color 0.3s linear,
        color 0.3s linear;
}

#dark {
    cursor: pointer;
    user-select: none;
    
    position: fixed;
    top: 0px;
    right: 0px;

    font-size: 50px;

    background: none;
    border: none;
    padding: 0px 0px 0px 0px;
}

#board {
    width: 500px;
    height: 600px;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
}

.row {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.block {
    background-color: var(--block-color);
    color: var(--text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    user-select: none;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
}

.block.bad {
    color: var(--bad);
}

.block.good {
    color: var(--good);
}

.block.perfect {
    color: var(--perfect);
}